<h2>待做事項</h2>
<%=render :partial =>"form" %>

<%@todos.each do|todo|%>
<%=todo.content%>
<% if todo.active? %>
<%= link_to "完成", complete_todo_path(todo),method:"post" %>
<% else %>
<%= link_to "待做", active_todo_path(todo),method:"post" %>
<% end %>
<%= link_to "編輯", edit_todo_path(todo) %>
<%= link_to "刪除", edit_todo_path(todo),method:"delete",data: { confirm: "確定要刪除?" } %>
<%end%>
